<!doctype html>
<html lang="en">
<%- include('../layout/cms/header')%>

<body>
<%- include('../layout/cms/navbar')%>
<main role="main" class="container">

    <style>
        .card_ {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }
        .list-group-item_ {
            position: relative;
            display: block;
            padding: .3rem 1.25rem;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.125);
        }
        .min-height{
            min-height: 50px;
        }
        .a-tag{
            text-decoration: none;
            color: black;
        }
        .a-tag:hover{
            text-decoration: none;
            color: blue;
        }
    </style>
    <div class="row mt-3 mb-3">
        <div class="col-2">
            <div class="card_ mb-3" style="width: 11.5rem;">
                <div class="card-header">
                    Category
                </div>
                <ul class="list-group list-group-flush mt-1">
                    <% category.forEach(function(cat){ %>
                        <a href="/product-by-category/<%= cat.slug%>"><li class="list-group-item_"><%= cat.title%></li></a>
                    <% }); %>
                </ul>
            </div>
        </div>
        <div class="col-10">
            <div class="card_">
                <div class="card-header">
                    <%= type_name %>
                </div>
                <div class="mt-1 pr-2 pl-1">
                    <% if(success_message.length) {%>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong><%= success_message %></strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>
                    <div class="row">
                         <% if(cart != undefined) { %>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    My Cart
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">Image</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col"></th>
                                            <th scope="col">Subtotal</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% var subTotal = 0; %>
                                        <% cart.forEach(function(cart){ %>
                                            <% var total = parseFloat(cart.price)* parseFloat(cart.qty).toFixed(2); %>
                                            <% subTotal += +total %>
                                            <tr>
                                                <td><img src="<%= cart.image%>" width="150px" height="100px"/></td>
                                                <td><%= cart.title%></td>
                                                <td><%= cart.price%></td>
                                                <td><%= cart.qty%></td>
                                                <td>
                                                    <a href="/cart/update/<%= cart.slug%>?action=add" title="Add" class="a-tag">
                                                        <i class="fa fa-plus-circle" style="color: green"></i>&nbsp;
                                                    </a>
                                                    <a href="/cart/update/<%= cart.slug%>?action=minus" title="Minus" class="a-tag">
                                                        <i class="fa fa-minus-circle" style="color: orange"></i>&nbsp;
                                                    </a>
                                                    <a  href="/cart/update/<%= cart.slug%>?action=remove" title="Remove" class="a-tag">
                                                        <i class="fa fa-remove" style="color: red"></i>&nbsp;
                                                    </a>

                                                </td>
                                                <td>$. <%= total%> USD.</td>
                                            </tr>
                                        <% }); %>
                                        <tr>
                                            <td colspan="6" class="text-right">Total : $. <%= parseFloat(subTotal).toFixed(2) %> USD.</td>
                                        </tr>
                                        <tr >
                                            <td colspan="6" class="text-right">
                                                <% if(!user){ %>
                                                    <p class="font-weight-bold"><sup>*</sup>You need to login to purchase the product</p>
                                                <% } %>
                                                <a href="/cart/clear" class="btn btn-danger btn-sm"><i class="fa fa-undo"></i>&nbsp;&nbsp;Clear Cart</a>
                                                <% if(user){ %>
                                                    <a href="/checkout-process" class="btn btn-success btn-sm"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;Buy</a>
                                                <% } %>

                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>

                                    <form action="https://www.paypal.com/us/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="upload" value="1">
                                        <input type="hidden" name="business" value="you@youremail.com">
                                        <% var num = 0;%>
                                        <% cart.forEach(function (cart) { %>
                                            <% num++ ;%>
                                            <input type="hidden" name="item_name_<%= num %>" value="<%= cart.title %>">
                                            <input type="hidden" name="amount_<%= num %>" value="<%= cart.price %>">
                                            <!--<input type="hidden" name="quantity_<%= num %>" value="<%= cart.qty %>">-->
                                        <% }) %>
<!--                                        <input type="hidden" name="item_name" value="Item Name">-->
                                        <input type="hidden" name="currency_code" value="BDT">
                                        <input type="hidden" name="amount" value="<%= subTotal %>">
                                        <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                                    </form>
                                </div>

                            </div>
                        </div>
                        <% } else { %>
                        <div class="col-12">
                            <div class="alert alert-danger" role="alert">
                                <h4 class="alert-heading">Warning!</h4>
                                <p>Your Cart is empty!!!</p>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main><!-- /.container -->


<%- include('../layout/cms/footer')%>
</body>
</html>
